In [5]:
num=int(input('Enter a number: '))
# num=int(num)
# print(num)

#4/2=2 + 0 as remainer
#5/2=2 + 1 as remainer

#56/2=28 + 0 as remainer
#23/2=11 + 1 as remainer

remainer=num%2
print(remainer)

if remainer==0:
    print('Even')
else:
    print('Odd')

1
Odd

In [8]:
marks=10
marks2=20   
marks3=18
marks4=15
marks5=25

total=marks+marks2+marks3+marks4+marks5
avg=total/5
print('Total:',total)

Total: 88

In [ ]:
#advanced data structures
#tuples
#sets
#lists
#dictionaries

In [11]:
#lists

marks=[] #empty list
print(marks)

marks=[10,20,30,40,50]

print(marks)

[]
[10, 20, 30, 40, 50]

In [ ]:
names=[10,20,"Tom",True,100.50] #lists are dynamic in nature
print(names)

[10, 20, 'Tom', True, 100.5]

In [16]:
names=['Tom','Jerry','Spike','Tyke']
print(names)

print(names[0])

print(names[2])

print(names[3])

['Tom', 'Jerry', 'Spike', 'Tyke']
Tom
Spike
Tyke

In [17]:
names=['Tom','Jerry','Spike','Tyke']

print(len(names))

4

In [19]:
names=['Tom','Jerry','Spike','Tyke'] #circular list
print(names[-1])
print(names[-3])
print(names[-4])

Tyke
Jerry
Tom

In [ ]:
fruits=[] #defining empty list

print(fruits)

fruits.append('Apple')
print(fruits)

fruits.append('Banana') #add element to the list
fruits.append('Mango')
fruits.append('Orange')
fruits.append('Grapes')

print(fruits)

[]
['Apple']
['Apple', 'Banana', 'Mango', 'Orange', 'Grapes']

In [26]:
fruits=['Apple', 'Banana', 'Mango', 'Orange', 'Grapes']

fruits.remove('Banana') #remove element from the list

print(fruits)

fruits.pop() #remove last element from the list
print(fruits)

removed_fruit=fruits.pop() #remove last element from the list and assign it to a variable
print(removed_fruit)
print(fruits)

['Apple', 'Mango', 'Orange', 'Grapes']
['Apple', 'Mango', 'Orange']
Orange
['Apple', 'Mango']

In [ ]:
electronics=['Laptop','Mobile','Tablet','Desktop','Smartwatch']

print(electronics)

electronics[3]='Computer' #update element in the list
print(electronics)

['Laptop', 'Mobile', 'Tablet', 'Desktop', 'Smartwatch']
['Laptop', 'Mobile', 'Tablet', 'Computer', 'Smartwatch']

In [29]:
nums1=[10,20,30,40,50]
nums2=[60,70,80,90,100]

all_nums=nums1+nums2 #concatenate two lists
print(all_nums)


print(sum(all_nums)) #sum of all elements in the list

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
550

In [ ]:
#list functions
numbers=[3,30,21,16,34,29]

print(max(numbers)) #maximum number in the list
print(min(numbers)) #minimum number in the list
print(sorted(numbers)) #sort the list

34
3
[3, 16, 21, 29, 30, 34]

In [ ]:
animals=['Dog','Cat','Elephant','Lion','Tiger']

animals.insert(2,'Parrot') #insert element at a specific index
print(animals)

['Dog', 'Cat', 'Parrot', 'Elephant', 'Lion', 'Tiger']

In [36]:
char='A'
print(char)

name='Tom'

print(name)
print(name[1])

print(list(name))

A
Tom
o
['T', 'o', 'm']

In [ ]:
#slicing

names=['Tom','Jerry','Spike','Tyke']
print(names[0:3])

print(names[:3])


print(names[2:4])

print(names[-2:])
print(names[:-2])

['Tom', 'Jerry', 'Spike']
['Tom', 'Jerry', 'Spike']
['Spike', 'Tyke']
['Spike', 'Tyke']