In [3]:
def add(num1,num2):
    result= num1 + num2
    print(result)

add(2,3)

5

In [4]:
def add2(num1,num2,num3):
    result= num1 + num2 + num3
    print(result)

add2(2,3,4)

9

In [5]:
def add3(num1,num2,num3,num4):
    result= num1 + num2 + num3 + num4
    print(result)

add3(2,3,4,5)

14

In [ ]:
def add(*numbers):#*numbers is a tuple that can take any number of arguments
    result=0
    for number in numbers:
        result+=number
    print(result)

add(2,3)
add(2,3,4)
add(2,3,4,5)
add(2,3,4,5,6)

5
9
14
20

In [7]:
add(10,20,30,40,50)

150

In [9]:
def cal(operation,*nums):
    result=0
    if operation=='+':
        for num in nums:
            result+=num
    elif operation=='*':
        result=1
        for num in nums:
            result*=num
    print(result)

cal('+',2,3,4,5)

cal('*',2,3,4,5)

14
120

In [ ]:
#keyword arguments
def details(name,age,location):
    print(f"Name:{name}, Age:{age}, Location:{location}")

details('John',30,'New York')

Name:John, Age:30, Location:New York

In [12]:
def details(name,age,location,gender,phone):
    print(f"Name:{name}, Age:{age}, Location:{location}")
    print(f'Gender: {gender}, Phone: {phone}')

details('John',30,'New York','male','1234567890')

Name:John, Age:30, Location:New York
Gender: male, Phone: 1234567890

In [15]:
def details(**data):
    print(data)
    for key,value in data.items():
        print(f"{key}:{value}")


details(name='John',age=30,location='New York')

{'name': 'John', 'age': 30, 'location': 'New York'}
name:John
age:30
location:New York

In [ ]:
details(name='John',age=30,location='New',gender='Male', password='123456')

name:John
age:30
location:New
gender:Male
password:123456

In [16]:
x=['Tom','Jerry','Spike']

y=x

y[0]='Paul'

print(x)

['Paul', 'Jerry', 'Spike']

In [18]:
x=['Tom','Jerry','Spike']

y=x.copy()

y[0]='Paul'

print(x)

['Tom', 'Jerry', 'Spike']

In [17]:
x=5

y=x

y=10

print(x)

5

In [22]:
person={'name':'John','age':30}

print(person['name'])

# print(person['gwhhjkwed'])

person.get('namdsvnkjewnkfnewe','Not available')

John

'Not available'

In [25]:
def test():
   print('ok')


print(type(test()))

ok
<class 'NoneType'>

In [28]:
numbers = [1, 2, 3, 4, 5]
for num in numbers:
    if num % 2 == 0:
        continue
    print(num)

1
3
5

In [32]:
test=(1,)
print(test)

(1,)

In [35]:
test={10,5,8,1,2,7,5,5,5}

test

{1, 2, 5, 7, 8, 10}

In [36]:
print({x: x * x for x in range(1, 10) if x % 2 == 0})

{2: 4, 4: 16, 6: 36, 8: 64}

In [37]:
tst=(12,3,4)

tst[0]=10

TypeError: 'tuple' object does not support item assignment