In [146]:
print('Hello world')
print('hello')
print('TEST')

Hello world
hello
TEST

In [147]:
#this is a comment
print('Hello world') #this is a comment

Hello world

In [148]:
#variables
name='Tom'
print(name)

age=20
print(age)

Tom
20

In [149]:
#basic data type
#string (text)
#integer (number)
#float (decimal number)
#boolean (True or False)

In [150]:
#string
name='Tom'
character="T"
sentence='I am a student'
password="ehfjew@@^&!*"

In [151]:
#int - whole number
age=10
year=2024
counter=0
value=-10

In [152]:
#float - decimal number
price=9.99
total=100.50
mileage=100.45
pi=3.141592

In [153]:
#boolean
is_student=True
marroed=False

In [154]:
#variables
name='Tom'
print(name)

name='paul'
print(name)

Tom
paul

In [155]:
#variabke namong conventions

name='Tom' #good
name2='Tom' #good
# 2name='Tom' #bad
na2me='Tom' #good

# full name='Tom' #bad
full_name='Tom' #good
fullName='Tom' #good

Name='Tom' #good and valid but not recommended

In [156]:
#operations
num1=10
num2=5

result=num1+num2
result2=num1-num2
result3=num1*num2
result4=num1/num2

print(result)
print(result2)
print(result3)
print(result4)

15
5
50
2.0

In [157]:
#comcatenating strings
first_name='Tom'
last_name='Smith'
full_name=first_name+' '+last_name

print(full_name)

Tom Smith

In [158]:
data=2+2
print(data)

4

In [159]:
type(data)

int

In [160]:
type(full_name)

str

In [161]:
sentence='I am a student'

print(sentence.upper())

print(sentence.lower())


name='tom'
print(name.capitalize())

I AM A STUDENT
i am a student
Tom

In [162]:
10%3 #modulus gives the remainder

1

In [163]:
data='12'
print(data)
type(data)

12

str

In [164]:
age=10
print(age)
type(age)

10

int

In [165]:
data='100'
data2=int(data)
print(data2)
type(data2)

100

int

In [166]:
#write a program to add 2 numbers
num1=input('Enter first number: ')
num2=input('Enter second number: ') 

#every input is a string

result=int(num1)+int(num2)
print(result)

ValueError: invalid literal for int() with base 10: ''

In [ ]:
name='Tom'
age=10

print('Name is ',name)
print('Age is ',age)

In [ ]:
print('Name is '+name+ ' and age is '+str(age))

In [ ]:
name='Tom'
age=10
print('Name is {} and age is {}'.format(name,age))

In [ ]:
name='Tom'
age=10
print(f'Name is {name} and age is {age}') #f-string

In [ ]:
print(f'\tName is {name} \n\tAge is {age}') #f-string

In [ ]:
age=10
age=age+1 #increment age
print(age)

In [ ]:
total=100
total+=1 #increment by 1
print(total)

In [ ]:
print("test"*4)