In [101]:
person={
    'name': 'John Doe',
    'age': 25,
    'is_employee': True,
    'salary': 1000.50,
    'address': {
        'street': '123 Main St',
        'city': 'Springfield',
        'state': 'IL',
        'zip': '62701'
    },
    'skills': ['Python', 'Java', 'C++'],
    'children': ('Paul', 'Sara')
}

print(person)

{'name': 'John Doe', 'age': 25, 'is_employee': True, 'salary': 1000.5, 'address': {'street': '123 Main St', 'city': 'Springfield', 'state': 'IL', 'zip': '62701'}, 'skills': ['Python', 'Java', 'C++'], 'children': ('Paul', 'Sara')}

In [102]:
print(person['name'])
print(person['skills'])
print(person['skills'][0])

print(person['address'])
print(person['address']['city'])

John Doe
['Python', 'Java', 'C++']
Python
{'street': '123 Main St', 'city': 'Springfield', 'state': 'IL', 'zip': '62701'}
Springfield

In [103]:
course={} #empty dictionary

print(course)

course['name']='Python Programming' #add key-value pair
course['author']='John Doe'
course['price']=19.99
course['duration']=12
course['modules']=['Basics', 'Advanced', 'Expert']

print(course)

{}
{'name': 'Python Programming', 'author': 'John Doe', 'price': 19.99, 'duration': 12, 'modules': ['Basics', 'Advanced', 'Expert']}

In [104]:
course['name']='Python Programming for Beginners' #update a key value pair
print(course)

{'name': 'Python Programming for Beginners', 'author': 'John Doe', 'price': 19.99, 'duration': 12, 'modules': ['Basics', 'Advanced', 'Expert']}

In [105]:
del course['author'] #delete a key-value pair
print(course)

{'name': 'Python Programming for Beginners', 'price': 19.99, 'duration': 12, 'modules': ['Basics', 'Advanced', 'Expert']}

In [106]:
device={
    'name': 'iPhone 12',
    'manufacturer': 'Apple',
    'price': 999.99
}

print(device.keys())

print(device.values())

dict_keys(['name', 'manufacturer', 'price'])
dict_values(['iPhone 12', 'Apple', 999.99])

In [107]:
print(device.items())

dict_items([('name', 'iPhone 12'), ('manufacturer', 'Apple'), ('price', 999.99)])

In [108]:
# print(device['color']) #error

In [109]:
print(device.get('color')) #None

print(device.get('color','No data')) #No data

print(device.get('name','No data')) #exists

None
No data
iPhone 12

In [110]:
persons=[ #list of dictionaries
    {
        'name': 'John Doe',
        'age': 25
    },
    {
        'name': 'Jane Doe',
        'age': 22
    },
    {
        'name': 'Tom Smith',
        'age': 32
    }
]

print(persons)

print(persons[1])
print(persons[1]['name'])

[{'name': 'John Doe', 'age': 25}, {'name': 'Jane Doe', 'age': 22}, {'name': 'Tom Smith', 'age': 32}]
{'name': 'Jane Doe', 'age': 22}
Jane Doe

In [111]:
person={
    'name': 'John Doe',
    'age': 25,
    'is_employee': True,
    'salary': 1000.50,
    'address': {
        'street': '123 Main St',
        'city': 'Springfield',
        'state': 'IL',
        'zip': '62701'
    },
    'skills': ['Python', 'Java', 'C++'],
    'children': ('Paul', 'Sara')
}

if 'age' in person: #check if key exists
    print('Age is present')
    print(person['age'])

Age is present
25

In [112]:
individual={
    'name': 'John Doe',
    'age': 25,
    'is_employee': True,
    'salary': 1000.50,
    'address': 'Morc Anglais, Mauritius'
}

In [113]:
for key in individual.keys(): #iterate over keys
    print(key)

name
age
is_employee
salary
address

In [114]:
for value in individual.values(): #iterate over values
    print(value)

John Doe
25
True
1000.5
Morc Anglais, Mauritius

In [115]:
for key in individual: #iterate over keys
    print(f'Key: {key} \t Value: {individual[key]}')

Key: name 	 Value: John Doe
Key: age 	 Value: 25
Key: is_employee 	 Value: True
Key: salary 	 Value: 1000.5
Key: address 	 Value: Morc Anglais, Mauritius

In [116]:
for key,value in individual.items(): #iterate over keys
    print(f'Key: {key} \t Value: {value}')

Key: name 	 Value: John Doe
Key: age 	 Value: 25
Key: is_employee 	 Value: True
Key: salary 	 Value: 1000.5
Key: address 	 Value: Morc Anglais, Mauritius

In [117]:
nums=list(range(1,6))

print(nums)

[1, 2, 3, 4, 5]

In [118]:
names=['John', 'Jane', 'Tom', 'Alice']

i=0
for name in names:
    print(f'{i}: {name}')
    i=i+1

0: John
1: Jane
2: Tom
3: Alice

In [119]:
names=['John', 'Jane', 'Tom', 'Alice']

for i,name in enumerate(names):
    print(f'{i}: {name}')

0: John
1: Jane
2: Tom
3: Alice

In [ ]:
names=['John', 'Jane', 'Tom', 'Alice']
ages=[25, 22, 32, 28]
marks=[80, 75, 90, 85]

students=zip(names, ages, marks)
# print(students)
# print(list(students))

for name, age,mark in students:
    print(f'{name} is {age} years old and scored {mark}')

<zip object at 0x1079cd400>
[('John', 25, 80), ('Jane', 22, 75), ('Tom', 32, 90), ('Alice', 28, 85)]

In [125]:
for i in range(0,5):
    print(i)
else:
    print('The for loop is over')

print('next operation')

0
1
2
3
4
The for loop is over
next operation

In [126]:
i=5
while i>=0:
    print(i)
    i=i-1   
else:
    print('The while loop is over')

print('next operation')

5
4
3
2
1
0
The while loop is over
next operation

In [ ]:
for i in range(10):
    if i==5:
        break

    print(i)

0
1
2
3
4

In [132]:
for i in range(10):
    if i==5:
        continue

    print(i)

0
1
2
3
4
6
7
8
9

In [134]:
for i in range(10):
    pass #placeholder for future code

print('next operation')

next operation

In [135]:
nums=[]
for i in range(10):
    nums.append(i)

print(nums)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [137]:
nums=[i for i in range(10)]
print(nums)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [138]:
evens=[i for i in range(10) if i%2==0]
print(evens)

[0, 2, 4, 6, 8]

In [139]:
evens=[str(i) for i in range(10) if i%2==0]
print(evens)

['0', '2', '4', '6', '8']

In [140]:
evens=[i*2 for i in range(10) if i%2==0]
print(evens)

[0, 4, 8, 12, 16]

In [141]:
persons={
    'Tom': 20,
    'Jane': 22,
    'John': 25
}

for person in persons:
    persons[person]+=1

print(persons)

{'Tom': 21, 'Jane': 23, 'John': 26}

In [ ]:
persons={
    'Tom': 20,
    'Jane': 22,
    'John': 25
}
g
persons={person: persons[person]+1 for person in persons}
print(persons)

{'Tom': 21, 'Jane': 23, 'John': 26}